.container {
    min-width: 30%;

    display: grid;
    grid-template-areas:
        "participant submit"
        "preview preview"
    ;
    grid-template-rows: auto auto;
    grid-template-rows: auto auto;
    gap: 1em;

    /* align-items: center; */
    justify-items: space-around;
}

.add-participant {
    grid-area: participant;

    display: flex;
    flex-direction: column;
    gap: 1em;
}

.submit-game {
    grid-area: submit;

    display: flex;
    flex-direction: column;
    gap: 1em;
}

.game-preview {
    grid-area: preview;
}